<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap table-bordered">
          <thead>
            <tr>
              <th>Account Number</th>
              <th>Account Name (Provided by Restaurant)</th>
              <th>Account Name (Provided by Paystack)</th>
              <th>Added Time</th>
            </tr>
          </thead>
          <tbody>
            <% if (vendorBankAccounts.length > 0){%>
            <%  for (let vendorL of vendorBankAccounts){ %>
            <tr>
              <td><%= vendorL.accountNo %></td>
              <td><%= vendorL.businessName %></td>
              <td><%= vendorL.accountName %></td>
              <td><%= moment(vendorL.addedTime).format('DD/MM/YYYY h:mm:ss a'); %></td>
            </tr>
            <% } } else {%>
            <tr>
              <td colspan="5">No data found</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>